.hiding-grid {

    // screens < 575px
    --hiding-place-width: 2.5rem;
    --hiding-place-margin: 0.1rem;  
    --hiding-place-height: 2.5rem;
       
    @media screen and (min-width: 500px) {
        //landscape phones
        @media screen and (max-height: 400px) {
            --hiding-place-height: 1.9rem;
        }
    }

    
    @media screen and (min-width: 768px) {
        @media screen and (min-height: 500px) {
            --hiding-place-width: 3.75rem;
            --hiding-place-height: 3.25rem;
            font-size: 1.5rem;
        }
    }

    @media screen and (min-width: 992px) {
        --hiding-place-width: 3.75rem;
        --hiding-place-height: 3.25rem;
        font-size: 1.5rem;        
    }






    //all screens
    //calculate height for the whole grid area
    --hiding-grid-element-width:  calc((var(--hiding-place-width) * 6)
                                + (var(--hiding-place-margin)* 12));   
    --hiding-grid-element-height: calc((var(--hiding-place-height) * 6) 
                                + (var(--hiding-place-margin)* 12));  

   
}