@use 'grid-properties';

.hiding-grid {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
 
    height: var(--hiding-grid-element-height);
    width: var(--hiding-grid-element-width);

    margin: 0 auto;

    .hiding-place {
        height: var(--hiding-place-height); 
        width: var(--hiding-place-width);
        background: orange;
        margin: var(--hiding-place-margin); 
        background-image: url("../../assets/catsface.jpg");
        background-size: cover;  
   
       .hiding-cover {
           height: var(--hiding-place-height); 
           max-height: var(--hiding-place-height);    
           display: flex;
           align-items: center;
           justify-content: center;         
           background-color: white;      
       }
    }
}

.grid-disabled {
    pointer-events: none;
}
