.title-and-controls {
    margin-top: 2rem;

    h2 {
        color: #ff4040;
        text-shadow: -2px 0 #feb1b1,
                      0 2px #feb1b1,
                      2px 0 #feb1b1, 
                      0 -2px #feb1b1;   
    }
}

@media screen and (min-width: 500px) {
    .title-and-controls {
        margin-top: 0;
    }
}
