.container {
    height: calc(100vh - 5rem);
    width: auto; 
}

.title-and-controls {
    margin-top: 2rem;;
}

.current-game-scores {
    margin-top: 0.5rem;
}

.hiding-grid {
    margin-top: 0.75rem;
}

.best-scores {
    margin-top: 0.75rem;
}

h2 {
    color: #ff4040;
    text-shadow: -2px 0 #feb1b1,
                  0 2px #feb1b1,
                  2px 0 #feb1b1, 
                  0 -2px #feb1b1; 
    font-size: 1.6rem;  
}

@media screen and (min-width: 500px) {
    @media screen and (max-height: 480px) {        
    // landscape phones  
    
        .title-and-controls {
            margin-top: 0;
        }
    
        h2 {
            margin-bottom: 0.1rem;
            font-size: 1.4rem;
        }

        .current-game-scores {
            margin-top: 0;
        }

        .hiding-grid {
            margin-top: 0.25rem;
        }

        .best-scores {
            margin-top: 0.5rem;
        }
    
        .container {
            width: 75%;
            margin: 0 auto;
        }
     }
}

@media screen and (min-width: 768px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }

    h2 {
        color: white;
        text-shadow: 0.2rem 0.2rem red;
        font-size: 2rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 60%;      
    }

    .title-and-controls {
        margin-top: 6rem;
    }

    .current-game-scores {
        margin-top: 2rem;
    }

    .hiding-grid {
        margin-top: 1.5rem;
    }


}


@media screen and (min-width: 1200px) {
    
    .container {
        width: 45%;      
    }

    .title-and-controls {
        margin-top: 9rem; 
    }
}




