$hidingPlaceDimension: 4.5rem;
$contentWidth: 45rem;
$controlHeight: 3rem;
$dropdownHeight: 10rem;
$dropdownTextHeight: 7rem;

%btn {
    display: inline-block;
    border-radius: 0.5rem;
    height: $controlHeight;
    width: 7.5rem; 
    text-decoration: none;
 
    &:hover {
        transform: scale(.98);
    }      
}

%monitor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $controlHeight;
    width: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    .info {
        font-weight: 600;
    }    
}


.primary-btn {
    @extend %btn;
    color: white;
    background-color: #4CBB17;
    font-weight: 600;
}

.secondary-btn {
    @extend %btn;
    color: white;   
    background-color: #ff4040;
    font-weight: 600;
}

.grid-disabled {
    pointer-events: none;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}



.game-monitor {
    @extend %monitor;
 
}

.container {
    height: 40rem;
    width: 50rem;    
}

h4 {
    color: white; 
    font-size: 1.75rem;
    text-shadow: 2px 2px red;
}

.title-and-controls {

    h2 {
        color: white; 
        font-size: 2rem;
        text-shadow: 2px 2px red;
        margin-bottom: 1rem;
    }

    .game-controls {
        display: flex;
        justify-content: space-around;
        align-items: center;  
        font-size: 1.2rem;
    }    
}




.all-hiding-places {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  
    height: $hidingPlaceDimension * 6;
    width:  $hidingPlaceDimension * 6;
    margin: 1.5rem auto 0 auto;


    .hiding-place {
        height: $hidingPlaceDimension;
        width: 100%;
        background: orange;
        border: 0.1rem solid black; 
        background-image: url("../../assets/catsface.jpg");
        background-size: cover;  
   
       .on-top {
           height: $hidingPlaceDimension;
           max-height: $hidingPlaceDimension;     
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 2rem;   
           background-color: white;      
       }

    }

    .cat-pic {
        background-image: url("../../assets/catsface.jpg");
        background-size: contain;  
        position: relative;
             
    }
}

.best-scores {
    margin-top: 1rem;
}

.best-attempts {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    .best-monitor {
        @extend %monitor;
    }
}

.dropdown {    
    position: absolute;    
    left: 25rem;  
    top: (-$dropdownHeight);
    background-color: transparent;
    height: $dropdownHeight;
    width: 60rem;
    font-size: 1.2rem; 
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white;     
    
    .dropdown-hanger {
        height: $dropdownHeight - $dropdownTextHeight;
    }

    .dropdown-text {
        background-color: orange;
        color: white;
        height: $dropdownTextHeight;   
        padding: 0.5rem;  
        border-bottom: 0.4rem solid white;
    }
}

