
/******************************************************************/
// SCSS Used thoughout component                                   /
/******************************************************************/
$controlHeight: 3rem;
$dropdownHeight: 15rem;
$dropdownTextHeight: 10rem;



@media screen and (max-width: 575px) {
    .cat-game-all-elements  {
        --game-width: 30rem;
    }

    .container {   
        --hiding-place-dimension: 2.75rem;
        --hiding-grid-element-size: calc(var(--hiding-place-dimension) * 6);       
    }

    .dropdown {
        --dropdown-width: calc(var(--game-width) * 0.90);
        --dropdown-height: 15rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .cat-game-all-elements {
        --game-width: 40rem;
    }

    .container {
        --dropdown-width: calc(--game-width * 0.90);
        --hiding-grid-element-size: calc(var(--hiding-place-dimension) * 6);    
    }

    .dropdown {
        --hiding-place-dimension: 3.25rem;
    }
}

@media screen and (min-width: 768px) {
    .cat-game-all-elements {
        --game-width: 50rem;
    }

    .container {
        --hiding-place-dimension: 4.5rem;
        --hiding-grid-element-size:calc(var(--hiding-place-dimension) * 6);      
    }   

    .dropdown {
        --dropdown-width: calc(var(--game-width) * 0.90);
    } 
}

%btn {
    display: block;
    border-radius: 0.5rem;
    height: $controlHeight; 
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 600;
    &:hover {
        transform: scale(.98);
    }      
}

%monitor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $controlHeight;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    .info {
        font-weight: 600;
    }    
}


.game-monitor {
    @extend %monitor; 
}

.primary-btn {
    @extend %btn;
    color: white;
    background-color: #4CBB17;  
}

.reset-btn {
    @extend %btn;
    color: white;   
    background-color: #ff4040;
    font-size: 1rem;  
}

.grid-disabled {
    pointer-events: none;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    background-color: palevioletred;
}

.container {
    width: var(--game-width);   
    background-color: lightsalmon;
}

h4 {
    color: white; 
    font-size: 1.75rem;
    text-shadow: 2px 2px red;
}

/******************************************************************/
// SCSS Used in title-and-controls
/******************************************************************/

.title-and-controls {

    h2 {
        color: white; 
        font-size: 2rem;
        text-shadow: 2px 2px red;
        margin-bottom: 1rem;
    }    
 
    // phones
    @media screen and (max-width: 767px) {

        .game-monitor-group, .game-monitor-buttons {
            display: flex;
            justify-content: space-between;
        }   

        .game-monitor {
            width: 45%;
        }

        .game-monitor-buttons {
            margin-top: 0.5rem;
        }

        .primary-btn, .reset-btn {
            min-width: 45%;
        }

    }

 

    //desktop
    @media screen and (min-width: 768px) {
             
        .game-controls {
            display: flex;
            justify-content:space-between;
            align-items: center;  
            flex-wrap: wrap;
            font-size: 1.2rem;
        }   

        .game-monitor {
            min-width: 10rem;
        }   

        .game-monitor-buttons, .game-monitor-group {
            display: flex;  
            justify-content: space-evenly; 
            align-items: center;    
            width: 50%;   
        }

        .primary-btn, .reset-btn {
            width: 10rem;
        }       
    }
}

/************************************************************************/
//  SCSS used within grid area                                          */
/************************************************************************/
.hiding-grid {
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
 
    height: var(--hiding-grid-element-size);
    width: var(--hiding-grid-element-size);

    margin: 1.5rem auto 0 auto;

    .hiding-place {
        height: var(--hiding-place-dimension); 
        width: 100%;
        background: orange;
        border: 0.1rem solid black; 
        background-image: url("../../assets/catsface.jpg");
        background-size: cover;  
   
       .on-top {
           height: var(--hiding-place-dimension); 
           max-height: var(--hiding-place-dimension);    
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 2rem;   
           background-color: white;      
       }
    }

    .cat-pic {
        background-image: url("../../assets/catsface.jpg");
        background-size: contain;  
        position: relative;
             
    }
}

/***************************************************************************/
// SCSS used within best scores area                                       */
/***************************************************************************/

.best-scores {
    margin-top: 1rem;
}

.best-attempts {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    font-size: 1.2rem;

    .best-monitor {
        @extend %monitor;
        min-width: 12rem;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        
        .best-monitor {          
            justify-content: space-between;
            max-width: 75%;
            margin-left: 12%;
        }
        .best-monitor:last-child {
            margin-top: 0.5rem;
        }
    }
}



/***************************************************************************/
// SCSS used within dropdown area                                     */
/***************************************************************************/




.dropdown {    
    position: absolute;    
    top: (-$dropdownHeight);   
    height: $dropdownHeight;
    width: var(--dropdown-width);
    left: calc(50vw - (var(--dropdown-width) / 2));
    
    font-size: 1.5rem; 
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white; 
    background-color: transparent; 
    z-index: 999;  
    
    .dropdown-hanger {
        height: $dropdownHeight - $dropdownTextHeight;
    }

    .dropdown-result {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #e67e00;
        color: white;
        height: $dropdownTextHeight;   
        padding: 0.5rem;  
        border-bottom: 0.4rem solid white;

        .result-heading {
            color: white;
            font-size: 2rem;
            text-shadow:  0.25rem 0.25rem 0.5rem  #a00000; 
                 
        }

        .final-score-line {          
           
            margin: 0 auto;
    
            .final-score-element {
                display: flex;
               
            }        
        }

        .dropdown-line {
            display: flex;
            justify-content: space-between;
            width: 75%;  
            margin: 0 auto;
            font-size: 1.5rem;
            text-shadow:  0.125rem 0.125rem 0.25rem  #a00000; 


            .label {
                padding-right: 1rem;
            }              
        }

        .primary-btn {
            width: 10rem;
            
        }

        
    }
}

