<div class="dropdown"
      [@dropStatus]="dropStatus">             
    <div class="dropdown-hanger"></div>
    <div class="dropdown-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis similique c
            ommodi sed praesentium, minima architecto repellendus laborum ipsum placeat       
    </div> 
</div>

<div class="outer-container">
    <div class="container">
        <div class="title-and-controls">
            <h2>Find the Cat</h2>
            <div class="game-controls">                
                <div class="count game-monitor">
                    <div class="label">
                        Guesses
                    </div>
                    <div class="info">
                        {{guessCount}}
                    </div>
                </div>
                <div class="timer game-monitor">
                    <div class="label">
                        Time
                    </div>
                    <div class="info">                      
                        {{timing.seconds | number: '2.0'}}:{{timing.tenths | number: '2.0' }}
                    </div>
                </div>
                <div class="start"
                    (click)="startGame()">
                    <button class="primary-btn"
                            [disabled]="startDisabled">Start</button>
                </div>
                <div class="try-again">
                    <button class="secondary-btn"
                            (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
  
            <div class="all-hiding-places">
                <div class="hiding-place" *ngFor="let hp of hidingPlace; let i=index">
                    <div class="on-top"
                        (click)="checkGuess(i)" 
                        [@revealCat]="hidingPlace[i].revealState"
                        [ngClass]="{'grid-disabled': gridDisabled }">
                        {{hidingPlace[i].value}} 
                    </div>            
                </div>       
            </div>  
            <div class="best-scores">
                <h4>Best Score</h4>
                <div class="best-attempts">
                    <div class="best-monitor">
                        <div class="label">
                            Guesses
                        </div>
                        <div class="info">
                            {{bestScore}}
                        </div>
                    </div>    
                    <div class="best-monitor">
                        <div class="label">
                            Time
                        </div>
                        <div class="info">
                            {{ bestTiming.seconds | number: '2.0' }}:{{ bestTiming.tenths | number: '2.0' }}
                           
                        </div>
                      
                    </div>      
                </div>                   
            </div> 
        
    </div> 
</div>