$hidingPlaceHeight: 7rem;


.container {
    height: 50rem;
    width: 60rem;
    margin: 0 auto;
}

.all-hiding-places {
 
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
  
    height: 40rem;
    width: 45rem;
    margin: 0 auto;

    .test {
        font-size: 10px;
    }

    .hiding-place {
        height: $hidingPlaceHeight;
        width: 100%;
        background: orange;
        border: 0.1rem solid black; 
        background-image: url("../../assets/catsface.jpg");
        background-size: cover;  
   
       .on-top {
           height: $hidingPlaceHeight;
           max-height: $hidingPlaceHeight;     
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 2rem;   
           background-color: pink;      
       }

    }

    .cat-pic {
        background-image: url("../../assets/catsface.jpg");
        background-size: contain;  
        position: relative;
             
    }
}
