<h4>Best Scores</h4>
<div class="best-scores">   
    <div class="best-attempts">        
        <div class="best-monitor">
            <div class="title-showing">Guesses</div>
            <div class="title-not-showing">Best number of Guesses</div>
            <div class="info">
                {{bestGuesses}}
            </div>
        </div>    
        <div class="best-monitor">
            <div class="title-showing">Time</div>
            <div class="title-not-showing">Best Time</div>
            <div class="info">
                {{ bestTiming.seconds | number: '2.0' }}:{{ bestTiming.tenths | number: '2.0' }}                
            </div>            
        </div>  
        <div class="reset-btn">
            Reset Best Scores
        </div>  

    </div>  
</div>  
                 

