h4 {
    margin-top: 1rem;
    color: #ff4040;
    text-shadow: -2px 0 #feb1b1,
                  0 2px #feb1b1,
                  2px 0 #feb1b1, 
                  0 -2px #feb1b1;       
}

.best-monitor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 70%;
    background-color: white;
    margin: 0.5rem auto 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
       
}