h4 {   
    color: #ff4040;
    text-shadow: -2px 0 #feb1b1,
                  0 2px #feb1b1,
                  2px 0 #feb1b1, 
                  0 -2px #feb1b1;       
}

.best-monitor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.75rem;
    width: 70%;
    background-color: white;
    margin: 0.5rem auto 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;  
    
    .title-not-showing {
        display: none;
    }
        
    .title-showing {
        display: block;
    }
}

.reset-btn {
    margin: 0.5rem auto 0 auto;
    height: 1.75rem;
    width: 70%;   
    border-radius: 0.5rem;        
    font-weight: 500; 
    color: white;   
    background-color: #ff4040;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 500px) {    

    @media screen and (max-height: 480px) {
        h4 {
            display: none;
        }
        .best-attempts {
           display: flex;
           justify-content: center;
           margin-top: 0.2rem; 
           gap: 0.5rem;       
         
            .best-monitor {
                width: 11rem;             
                min-height: 100%;
                padding: 0.2rem;
                margin: 0;

                font-size: 90%;
    
                .title-showing {
                    display: none;
                }
                .title-not-showing {
                    display: block;
                }
            } 
        }
    }
}

@media screen and (min-width: 768px) {
    @media screen and (min-height: 600px) {
        h4 {
            color: white;
            text-shadow: 0.2rem 0.2rem red;
            font-size: 1.75rem;
           } 
           .best-attempts {
               display: flex;
               justify-content: center;
        
               .best-monitor {
                   width: 30%;
                   height: 2.5rem;
                   padding: 1rem;
                   font-weight: 500;
                   font-size: 120%;
               }

               .reset-btn {
                   width: 30%;
                   height: 2.5rem;
               }
            }
    }
}

@media screen and (min-width: 992px) {
    .best-scores {
        display: flex;
        justify-content: center;
     
    }

    h4 {
        margin-left: 4rem;
        color: white;
        text-shadow: 0.2rem 0.2rem red;
        font-size: 1.75rem;
       } 
       .best-attempts {
  
           margin-top: 0.5rem; 

 
           .best-monitor {
               display: flex;
               width: 12rem;
               height: 3rem;
               padding: 1rem;
               font-weight: 500;
               font-size: 120%;
               margin: 0 2.25rem; 
           } 
       }
}