.demo-warning {
    position: absolute;
    top:10rem;
    left: 0;
    right: 0;
    padding: 1rem;
    width: 100vw;
    z-index:12;
    background-color: #ff8c00;
    color: blue;   
    padding: 2% 10%; 
    line-height: 2rem;

    h1 {
        font-size: 2rem;
        font-weight: 600;
    }

    .guess-grid {
        display: flex;
        gap: 0.25rem;
        margin-top: 0.5rem;
        h4 {        
            font-size: 1.25rem;
            font-weight: 400;   
                
           }
        .cat-pic {            
            img {
                max-width: 3.5rem;
                border-radius: 25%;
            }
        }
    }


}   

.button-area {
    text-align: right;

    button {
        padding: 0.75rem 2rem;
        background-color: blue;
        color: white;    
    }


  
}