
<div class="demo-warning"
            [@warningVisibility]="warningVisibility"
            [@warningPosition]="warningPosition">   
    <h1>Demonstration Game</h1>
    <div class="guess-grid">
        <h4>Guess which grid square the cat is hidden behind </h4>
        <div class="cat-pic">
            <img src="assets/catsface.jpg" alt="">
        </div>  
    </div>

    <div class="button-area">
        <button type="button"
               (click)="startDemo()">Enter Demo</button>  
    </div>
 
</div>
