.dropdown {
    --dropdown-width: 20rem;
    --dropdown-height: 20%;  

    position: absolute;    
    top: calc(-var(--dropdown-height));
    height: calc(var(--dropdown-height) + 5% );
    width: var(--dropdown-width);
    left: calc(50vw - (var(--dropdown-width) / 2) - 1rem);
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white; 
    background-color:  transparent;
    z-index: 999;  
    
    .dropdown-hanger {
        height: 33.4%;
        width: var(--dropdown-width);
     
    }

    .dropdown-result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e67e00;
        color: white;
        height: 66.6%;
        padding: 0.5rem;  
        border-bottom: 0.4rem solid white;
        background-color: darkorange;

        .result-heading {
            font-size: 175%;
            color: white;
            text-shadow:  0.25rem 0.25rem 0.5rem  #a00000; 
                 
        }

        .final-score-line {  
         
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
       
            .final-score-element {
                display: flex;    
                justify-content: space-around;      
            }   
        
        }

        .dropdown-line {   
            text-shadow:  0.125rem 0.125rem 0.25rem  #a00000; 
            .label {
                padding-right: 1rem;
            }              
        }    
       
    }
}