<div class="dropdown"
    [@dropStatus]="dropStatus">             
    <div class="dropdown-hanger"></div>
    <div class="dropdown-result">
        <div class="result-heading">
            You found the cat!
        </div>
        <div class="final-score-line dropdown-line">
            <div class="final-score-element">
                <span class="label">Guesses:</span>
                <span class="value">{{guesses}}</span>
            </div>
            <div class="final-score-element">
                <span class="label">Time (seconds):</span>
                <span class="value">{{timing.seconds | number: '2.0'}}:{{timing.tenths | number: '2.0' }}</span>
            </div>
        </div>
        <div class="play-again-line dropdown-line">
            <p class="game-status">{{dropMessage}}</p>
            <button class="play-again-btn" (click)="playAgain()">Play Again</button>
        </div>        
    </div> 
</div>
