.dropdown {
    --dropdown-width: 85%;
    --dropdown-height: 8.25rem;  
    position: absolute;    
    top: calc(-var(--dropdown-height));
    height: calc(var(--dropdown-height) + 5% );
    width: var(--dropdown-width);
    left: calc(50vw - (var(--dropdown-width) / 2) );
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white; 
    background-color:  transparent;
    z-index: 999;  
    
    .dropdown-hanger {
        height: 20%;
        width: var(--dropdown-width);
     
    }

    .dropdown-result {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #e67e00;
        color: white;
        height: 80%;
        padding: 0.5rem;  
        border-bottom: 0.4rem solid white;
        background-color: darkorange;

        .result-heading {
            font-size: 150%;
            color: white;
            text-shadow:  0.25rem 0.25rem 0.5rem  #a00000; 
                 
        }

        .final-score-line {  
         
            display: flex;
            justify-content: space-between;
            max-width: 15rem;
    
            .final-score-element {
                display: flex;  
                justify-content: center;
                gap: 0.1rem;
                 .label {
                    padding-right: 0.5rem;
                }                      
            }          
        }

        .dropdown-line {   
            text-shadow:  0.125rem 0.125rem 0.25rem  #a00000; 
            .label {
                padding-right: 1rem;
            }              
        } 

        .play-again-btn {
            width: 8rem;
            height: 1.75rem;
            background-color: #4CBB17;  
            color: white;
            border-radius: 10%;
            margin-left: calc(100% - 9rem);
            font-weight: 600;
            margin-top: 0.2rem;
          
        }      
    }
}



@media screen and (min-width: 768px) {
    @media screen and (min-height: 500px) {
        .dropdown {
       
            .dropdown-result {
                 font-size: 1.2rem;
                .play-again-btn {
                    width: 7rem;
                    height: 2rem;
                }   
                .final-score-line {
                    max-width: 20rem;
                }
            }     
        }
    } 
}

@media screen and (min-width: 992px) {
    .dropdown {  
        --dropdown-height: 12rem;        
        .dropdown-result {
            font-size: 1.8rem;
            .play-again-btn {
                width: 10rem;
                margin-left: calc(100% - 11rem);
                height: 2.5rem;
                font-weight: 550;
                font-size: 1.25rem;
            }
            .final-score-line {
                max-width: 26rem;
            }
        }        
    }    
}

@media screen and (min-width: 1200px) {
    .dropdown {
        --dropdown-width: 45%;

        .dropdown-result {
            font-size: 1.5rem;
        }
    }
}